* {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style: none;
}

/*  a {
    color: inherit;
    text-decoration: none;
}  */
.activeDate {
	background-color: #5f5f5f67;
	/* color: #6f8ecf; */
}

.cheerup {
	background-image: url(../images/status/cheerup.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.good{
	background-image: url(../images/status/good.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.great {
	background-image: url(../images/status/great.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.perfect {
	background-image: url(../images/status/perfect.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.awsome{
	background-image: url(../images/status/awsome.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.bar {
	border-bottom: 3px solid rgb(126, 146, 190);
}

.pt>ul li:hover {
	background-color: #5f5f5f67;
}

.todayactive {
	text-decoration: underline;
	color: #333;
}

.clearfix::after {
	content: '';
	clear: both;
	display: block;
}

#calendarArea {
	width: 100%;
	height: 100%;
	/* border: 1px solid #242424; */
	box-shadow: 0px 0px 20px rgb(146, 146, 146);
}

#calendarTop {
	width: 100%;
	height: 80px;
	text-align: center;
	/* border-bottom: 1px solid #242424; */
	background-color: rgb(120, 138, 192);
}

#prev, #next {
	width: 10%;
	height: 100%;
	background-color: #ffffffc7;
	float: left;
}

#todayis {
	width: 80%;
	height: 100%;
	text-align: center;
	line-height: 80px;
	color: #ffffff;
	font-size: 30px;
	font-weight: 700;
	z-index: 999;
	float: left;
}

#calendarArea>#calendarbox {
	width: 100%;
}

#calendarArea>#calendarbox>#calendar {
	width: 100%;
	font-size: 20px;
	color: #222222;
	border-top: 1px solid #ffffff;
}

#calendar>thead>tr>th {
	width: calc(100%/ 7);
	height: 60px;
	padding: 5px;
	text-align: center;
}

#calendar>#calendarbody>tr>td {
	width: calc(100%/ 7);
	height: 90px;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}

@media ( max-width : 767.98px) {
	#calendar>#calendarbody>tr>td {
		height: 72px;
	}
}

/* #checkList, #ptList{
	border-radius: 5px;
	box-shadow: 5px 5px 6px rgb(146, 146, 146);
}
 */
#checkList h4 {
	padding: 10px;
}

#checkList h4, #checkList h6 {
	display: inline-block;
}

#checkList h4 {
	width: 80%;
}


.save {
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
	color: #c1dff0;
	background: #636363;
	border-radius: 0;
	border: none;
	transition: .3s;
}

.save:hover {
	color: #636363;
	background: #c1dff0;
}

.pt>ul li, #chk>ul li {
	width: 100%;
	padding: 5px;
	display: block;
}

.pt ul li input[type=button], #chk ul li input[type=checkBox], #etc {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 100%;
	margin: 3px 0;
}
#etc{
	margin-right: 5px;
}
#etcon:focus{
	outline:none;
}

#ptList>ul {
	margin: 0;
}

.list {
	width: 100%;
}

#goalList {
	height: 60px;
}


#chk {
	height: 200px;
	overflow-y: scroll;
}

#chk::-webkit-scrollbar{
	width: 8px;
}

#chk::-webkit-scrollbar-thumb{
	height: 5px; 
	background-color: rgb(87, 119, 204, 0.5);
	border-radius: 10px; 
}

#chk::-webkit-scrollbar-track{
	background-color: rgba(0,0,0,0);
}


#ptList {
	height: 300px;
}

.cate {
	display: block;
	width: calc(100%/ 6);
	height: 50px;
	float: left;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
}

#chk ul li input[type=checkBox] {
	float: left;
}

.pl {
	width: calc(100% - 100px);
	line-height: 27px;
	display: block;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.count {
	height: 100%;
	display: inline-block;
	line-height: 27px;
	text-align: center;
}

.del {
	width: 30px;
	height: 100%;
	display: inline-block;
	/* float: right; */
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	background: none;
	border: none;
}